body{
    background-color: #7D8CC4;
    box
     {
    padding-block: 1000 px;    
    border-color: antiquewhite;
     }
}
h1 {
    text-align: center;
    color : #B8336A;
   
    }

     <div class ="box">