
*{

    margin:0;
    padding:0;
}



body{
    background-color: #222222;
<<<<<<< HEAD
    margin:0;
    padding:0;
=======
>>>>>>> 924be1417dad66fff0967d53c8345aaae627f59a
}
header{
    display: flex;
    justify-content: space-between;
    background-color:  #224422;
}
h1{
    font-size: 2.5em;
    font-weight: bold;
}
h1,h2{
    color: #CCFFCC;
    
}
p, footer{
    color: #FFFFFF;
}
li, a{
    color: #CCCCFF;
}
main{
    font-family: Verdana;
}
footer{
    text-align: center; 
}
tbody{
    color: #222222;
}
th, td{

    background-color:#FFFFFF;
}
/* espacement */

table{
    width: 60%;
    justify-self: center;
    
}
  tbody{
    border: solid;
    
  }
  .grey{
    background-color: grey;
  }
  img{
    width: 250px;
  }
  .image{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 20px;
  }