header{
    
    background-color: #e64b3c;
    text-align: center;    
    padding-top: 10px;
    padding-bottom: 10px;
}
.matou {
    display: flex;justify-content: center;
    /*width: 50%;*/
    gap: 5px;
    /*grid-template-columns: repeat (3, 1 fr);*/

    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: center;
    
}
img{
    width: 100%;
}
@media(max-width: 500px) {
.matou{
    display: block;
}
}


h2{
    color: #e64b3c;
}  


p{
   font-style: Arial;
}  

figure{
    background-color : #ffffff;
}
figcaption{
    padding: 0 20px 5px 20px;
}

body{
    background-color: #ebf0f0;
    margin: 0px;
    padding: 0px;
}
